@layer utilities {
    .font-roobert {
        font-family: 'Roobert PRO', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    }

    .font-dancing {
        font-family: 'Dancing Script', cursive;
    }



    .btn-gradient {
        background: linear-gradient(to right, #14b8a6, #f97316);
    }

    .btn-gradient:hover {
        background: linear-gradient(to right, #0d9488, #ea580c);
    }


}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}